<app-loader *ngIf="loading"></app-loader>
<span class="table-add float-left mb-3 mr-2">
        <a class="text-danger" *ngIf="error&&!submitted">
          {{'ERROR_LOADING_USER'|translate}}
        </a>
        <a class="text-danger" *ngIf="error&&submitted">
          {{'ERROR_FORM_USER'|translate}}
        </a>
</span>
<ng-container *ngIf="userForm">


  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title" *ngIf="!user">{{'ADD_USER'|translate}}</h2>
          <h2 class="title" *ngIf="user">{{'EDIT_USER'|translate}}</h2>
          <form [formGroup]="userForm">
            <div class="row row-space">
              <div class="col-md-5">
                <div class="input-group">
                  <label class="label" for="name">{{'NAME'|translate}}</label>

                  <input class="input--style-4" type="text"
                         [class.alert-danger]="userForm.controls.name.invalid&&(userForm.controls.name.dirty||userForm.controls.name.touched)"
                         formControlName="name" id="name" />
                  <i class="fa fa-check-circle" style="color:green" *ngIf="userForm.controls.name.valid" ></i>
                  <i class="fa fa-times-circle" style="color:firebrick" *ngIf="userForm.controls.name.invalid"> </i>
                  <small> Name should be minimum 5 character long </small>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group" *ngIf="roles">
                  <label class="label" >{{'USER_TYPE'|translate}}</label>
                  <div class="p-t-10">
                    <label class="radio-container m-r-45" *ngFor="let role of roles" for="role{{role.id}}">{{role.name|translate|titlecase}}
                      <input type="radio" formControlName="roleId" name="roleId" value="{{role.id}}" id="role{{role.id}}">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>


            </div>
            <div class="row row-space">

              <div class="col-md-5">
                <div class="input-group">
                  <label class="label" for="username">{{'USERNAME'|translate}}</label>
                  <input class="input--style-4"  type="text" formControlName="username" id="username"
                         [class.alert-danger]="userForm.controls.username.invalid&&(userForm.controls.username.dirty||userForm.controls.username.touched)"/>
                  <i class="fa fa-check-circle" style="color:green"  *ngIf="userForm.controls.username.valid" ></i>
                  <i class="fa fa-times-circle" style="color:firebrick" *ngIf="userForm.controls.username.invalid" > </i>
                  <small> Username should be minimum 5 character long </small>
                </div>
              </div>

              <div class="col-6">
                <div class="input-group">
                  <label class="label" for="email">{{'EMAIL'|translate}}</label>
                  <input class="input--style-4" type="text" formControlName="email" id="email"  >

                  <i class="fa fa-check-circle" style="color:green"  *ngIf="userForm.controls.email.valid" ></i>
                  <i class="fa fa-times-circle" style="color:firebrick" *ngIf="userForm.controls.email.invalid" > </i>



                </div>
              </div>
            </div>


            <div class="row row-space">
              <div class="col-md-5">
                <div class="input-group">
                  <label for="password" class="label">{{'PASSWORD'|translate}}</label>
                  <input type="password" formControlName="password" id="password" class="input--style-4">

                       <i class="fa fa-check-circle" style="color:green"  *ngIf="userForm.controls.password.valid"></i>
                  <i class="fa fa-times-circle" style="color:firebrick" *ngIf="userForm.controls.password.invalid"> </i>
                  <small> Password should be minimum 6 character long </small>
                </div>
              </div>
              <div class="col-6">
                <div *ngIf="user" class="input-group">
                  <label for="repeatPassword" class="label">Répeter Mot de passe</label>
                  <input type="password" formControlName="repeatPassword" id="repeatPassword" class="input--style-4">

                  <i class="fa fa-check-circle" style="color:green"  *ngIf="userForm.controls.repeatPassword.valid" ></i>
                  <i class="fa fa-times-circle" style="color:firebrick" *ngIf="userForm.controls.repeatPassword.invalid" > </i>

                </div>
              </div>

            </div>

            <div class="p-t-15" *ngIf="!user">
              <button class="btn btn--radius-2 btn--blue" type="submit" (click)="addUser()" [disabled]="!userForm.valid">{{'ADD_USER'|translate}}</button>
            </div>
            <div class="p-t-15" *ngIf="user">
              <button class="btn btn--radius-2 btn--blue" type="submit" (click)="editUser()" [disabled]="!userForm.valid||!checkEqualPasswords()">{{'EDIT_USER'|translate}}</button>
            </div>
            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" routerLink="/users">{{'ABORT'|translate|titlecase}}</button>
            </div>


          </form>


        </div>
      </div>
    </div>
  </div>
</ng-container>

