
  <div class="row border-top">
    <div class="col">{{product.designation}}</div>
    <div class="col">{{product.quantity}}</div>
    <div class="col">{{product.unitPrice|number:'.3'}} TND</div>
    <div class="col">{{product.discount|number:'.1'}} %</div>
    <div class="col">{{product.unitPriceAfterDiscount|number:'.3'}} TND</div>
    <div class="col">{{product.amountHT|number:'.3'}} TND</div>
    <div class="col">{{product.tva|number:'.1'}} %</div>
    <div class="col">{{product.amountTVA|number:'.3'}} TND</div>
    <div class="col">{{product.amountTTC|number:'.3'}} TND</div>
    <div class="col" (click)="deleteProduct(product.productId)"><button type="button" class="btn btn-outline-danger">Supprimer</button></div>
  </div>

