<div class="container" *ngIf="currentUser.role===roleAdmin">
  <div class="card">
    <div class="card-header">
      Confirmation
    </div>
    <div class="card-body">
      <div aria-label="Basic example" class="btn-group " role="group" style="width: 100%">
        <button (click)="onConfirmClick()" class="btn btn-success btn-lg btn-circle" style="width: 50%" type="button">
          Confirmer<i
          class="fa fa-check"></i></button>
        <button (click)="rejectQuotation()" class="btn btn-danger btn-lg btn-circle" style="width: 50%" type="button">
          Refuser <i
          class="fa fa-ban"></i></button>
      </div>

    </div>
  </div>


</div>
<app-detail-quotation></app-detail-quotation>
