<label class="radio-inline"><input (click)="editTax(1)" name="optradio" type="radio"> TTC</label>
<label class="radio-inline"><input (click)="editTax(0)" checked name="optradio" type="radio">HT</label>

<div class="table-editable" id="table">


  <div [formGroup]="orderForm">
    <div formArrayName="purchases">
      <table class="table table-bordered  table-striped text-center table-responsive-md">

        <tr>
          <th class="text-center">{{'PRODUCT_ID'|translate|titlecase}}</th>
          <th class="text-center">{{'QUANTITY'|translate|titlecase}}</th>
          <th
            class="text-center">{{'UNIT_PRICE'|translate|titlecase}} {{(taxType === 0 ? 'HT' : 'TTC')|translate}}</th>
          <th class="text-center">{{'DISCOUNT'|translate|titlecase}}</th>
          <th class="text-center"> {{'TVA'|translate|titlecase}} </th>
          <th
            class="text-center">{{'UNIT_PRICE_AFTER_DISCOUNT'|translate|titlecase}} {{(taxType === 0 ? 'HT' : 'TTC')|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'HT'|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TVA'|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TTC'|translate}}</th>
          <th><i (click)="addItem()" class="fa fa-plus"></i></th>

        </tr>

        <tr
          *ngFor="let item of orderForm.get('purchases').controls; let i = index;" [formGroupName]="i">


          <td>

            <ng-select class="input-" formControlName="product"
                       labelForId="provider">

              <ng-option *ngFor="let product of products" [disabled]="product.disabled"
                         [value]="product">{{product.designation}} {{product.reference}} {{product.category.label}}</ng-option>


              <ng-template ng-footer-tmp>
                <a class="btn" data-target="#ProductLogin" data-toggle="modal">
                  <h6>Add new product</h6>
                </a>

              </ng-template>
            </ng-select>


          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="quantity" type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.quantity.valid
             && orderForm.get('purchases').controls[i].controls.quantity.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.quantity.valid &&
                        orderForm.get('purchases').controls[i].controls.quantity.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="unitPrice"
                     placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.unitPrice.valid
             && orderForm.get('purchases').controls[i].controls.unitPrice.touched"><i class="fa fa-check-circle"
                                                                                      style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.unitPrice.valid &&
                        orderForm.get('purchases').controls[i].controls.unitPrice.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="discount"
                     placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.discount.valid
             && orderForm.get('purchases').controls[i].controls.discount.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.discount.valid &&
                        orderForm.get('purchases').controls[i].controls.discount.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="tva" placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.discount.valid
             && orderForm.get('purchases').controls[i].controls.discount.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.discount.valid &&
                        orderForm.get('purchases').controls[i].controls.discount.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input [value]="calculateDiscount(i)" class="form-control" disabled
                     formControlName="unitPriceAfterDiscount"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateHT(i)" class="form-control" disabled formControlName="amountHT"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateTVA(i)" class="form-control" disabled formControlName="amountTVA"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateTTC(i)" class="form-control" disabled formControlName="amountTTC"
                     placeholder="Item price"
                     type="number"></td>
          <td>
            <input (click)="removePurchase(i)" class="form-control col" type="button"
                   value="{{'DELETE'|translate|titlecase}}">
          </td>


        </tr>

        <tr>
          <td colspan="6"></td>


          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'HT'|translate}} : {{totalHT|number:'1.3'}}</p>

          </td>
          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'TVA'|translate}} : {{totalTVA|number:'1.3'}}</p>
          </td>

          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'TTC'|translate}} : {{totalTTC|number:'1.3'}}</p>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>

      </table>
    </div>
  </div>

</div>


<br>




