<label class="radio-inline"><input (click)="editTax(1)" name="optradio" type="radio"> TTC</label>
<label class="radio-inline"><input (click)="editTax(0)" checked name="optradio" type="radio">HT</label>

<div class="table-editable" id="table">


  <div [formGroup]="orderForm">
    <div formArrayName="purchases">
      <table class="table table-bordered  table-striped text-center table-responsive-md">

        <tr>
          <th class="text-center">{{'PRODUCT_ID'|translate|titlecase}}</th>
          <th class="text-center">{{'QUANTITY'|translate|titlecase}}</th>
          <th
            class="text-center">{{'UNIT_PRICE'|translate|titlecase}} {{(taxType === 0 ? 'HT' : 'TTC')|translate}}</th>
          <th class="text-center">{{'DISCOUNT'|translate|titlecase}}</th>
          <th class="text-center"> {{'TVA'|translate|titlecase}} </th>
          <th
            class="text-center">{{'UNIT_PRICE_AFTER_DISCOUNT'|translate|titlecase}} {{(taxType === 0 ? 'HT' : 'TTC')|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'HT'|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TVA'|translate}}</th>
          <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TTC'|translate}}</th>
          <th (click)="addItem()"><i class="fa fa-plus"></i></th>

        </tr>

        <tr
          *ngFor="let item of orderForm.get('purchases').controls; let i = index;" [formGroupName]="i">


          <td>

            <ng-select class="input-" formControlName="product"
                       labelForId="provider">

              <ng-option *ngFor="let product of products" [disabled]="product.disabled"
                         [value]="product">{{product.designation}} {{product.reference}} {{product.category.label}}</ng-option>


              <ng-template ng-footer-tmp>
                <a class="btn" data-target="#Product" data-toggle="modal">
                  <h6>Add new product</h6>
                </a>

              </ng-template>
            </ng-select>


          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="quantity" min="0"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.quantity.valid
             && orderForm.get('purchases').controls[i].controls.quantity.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.quantity.valid &&
                        orderForm.get('purchases').controls[i].controls.quantity.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="unitPrice" min="0"
                     placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.unitPrice.valid
             && orderForm.get('purchases').controls[i].controls.unitPrice.touched"><i class="fa fa-check-circle"
                                                                                      style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.unitPrice.valid &&
                        orderForm.get('purchases').controls[i].controls.unitPrice.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="discount" min="0"
                     placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.discount.valid
             && orderForm.get('purchases').controls[i].controls.discount.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.discount.valid &&
                        orderForm.get('purchases').controls[i].controls.discount.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input (change)="calculatePrices(i)" class="form-control" formControlName="tva" min="0"
                     placeholder="Item price"
                     type="number">
            <div *ngIf="orderForm.get('purchases').controls[i].controls.discount.valid
             && orderForm.get('purchases').controls[i].controls.discount.touched"><i class="fa fa-check-circle"
                                                                                     style="color:green;"></i>
            </div>
            <div *ngIf="!orderForm.get('purchases').controls[i].controls.discount.valid &&
                        orderForm.get('purchases').controls[i].controls.discount.touched">
              <i class="fa fa-times-circle" style="color:firebrick;"></i>
            </div>
          </td>

          <td><input [value]="calculateDiscount(i)" class="form-control" disabled
                     formControlName="unitPriceAfterDiscount"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateHT(i)" class="form-control" disabled formControlName="amountHT"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateTVA(i)" class="form-control" disabled formControlName="amountTVA"
                     placeholder="Item price"
                     type="number"></td>
          <td><input [value]="calculateTTC(i)" class="form-control" disabled formControlName="amountTTC"
                     placeholder="Item price"
                     type="number"></td>
          <td>
            <input (click)="removePurchase(i)" class="form-control col" type="button"
                   value="{{'DELETE'|translate|titlecase}}">
          </td>


        </tr>

        <tr>
          <td colspan="6"></td>


          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'HT'|translate}} : {{totalHT|number:'1.3'}}</p>

          </td>
          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'TVA'|translate}} : {{totalTVA|number:'1.3'}}</p>
          </td>

          <td>
            <p>{{'TOTAL'|translate|titlecase}} {{'TTC'|translate}} : {{totalTTC|number:'1.3'}}</p>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>

      </table>
    </div>
  </div>

</div>


<br>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="Product"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new product</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div *ngIf="submittedProduct&&errorProduct" class="alert alert-dark" role="alert">
          {{'ERROR'|translate}}
        </div>
        <div *ngIf="submittedProduct&&!errorProduct" class="alert alert-dark" role="alert">
          {{'NEW_PRODUCT_ADDED'|translate}}
        </div>
        <ng-container *ngIf="productForm">
          <form [formGroup]="productForm">
            <div class="row row-space">
              <div class="col-md-5">

                <div class="input-group">
                  <label class="label" for="reference">{{'Designation'|translate}}</label>
                  <input class="form-control" formControlName="reference" id="reference" type="text"/>
                  <i *ngIf="productForm.controls.reference.valid " class="fa fa-check-circle"
                     style="color:green;"></i>
                  <i *ngIf="productForm.controls.reference.invalid" class="fa fa-times-circle"
                     style="color:firebrick;"></i>

                </div>
              </div>

              <div class="col-7">

                <div class="input-group">
                  <label class="label" for="designation">{{'Reference'|translate}}</label>
                  <input class="form-control" formControlName="designation" id="designation" type="text"/>
                  <i *ngIf="productForm.controls.designation.valid " class="fa fa-check-circle"
                     style="color:green;"></i>
                  <i *ngIf="productForm.controls.designation.invalid" class="fa fa-times-circle"
                     style="color:firebrick;"></i>

                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-md-5">

                <label class="label" for="category">{{'Categorie'|translate}}</label>


                <ng-select [(ngModel)]="selectedCategorie" class="input-" formControlName="category"
                           labelForId="category">

                  <ng-option *ngFor="let categorie of categories" [value]="categorie">{{categorie.label}}</ng-option>

                </ng-select>

                <i *ngIf="productForm.controls.category.valid " class="fa fa-check-circle"
                   style="color:green;"></i>
                <i *ngIf="productForm.controls.category.invalid" class="fa fa-times-circle"
                   style="color:firebrick;"></i>


              </div>
            </div>

          </form>
        </ng-container>


      </div>
      <div class="modal-footer">
        <button (click)="addProduct()" [disabled]="!productForm.valid" class="btn "
                type="submit">{{'SUBMIT'|translate}}</button>
      </div>
    </div>
  </div>
</div>
