<app-loader *ngIf="loading"></app-loader>

<!------ Include the above in your HEAD tag ---------->



<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">{{'FORGOT_PASSWORD'|translate}}</h2>
            <p>{{'RESET_PASSWORD'|translate}}</p>
            <div class="card-body">

              <form id="register-form" role="form" autocomplete="off" class="form"  [formGroup]="sendEmailForgottenPasswordForm" *ngIf="!token">

                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                    <input id="email" name="email" placeholder="{{'EMAIL'|translate}}" class="form-control"  type="email" formControlName="email">
                  </div>
                </div>
                <div class="form-group">

                  <button (click)="getToken()" class ="btn btn-lg btn-primary btn-block">{{'SEND'|translate}} {{'EMAIL'|translate}}</button>
                  <p *ngIf="emailSent">Email sent</p>
                  <p *ngIf="emailSent===false">Email not sent</p>
                </div>

                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>



              <form [formGroup]="resetPasswordForm" *ngIf="token&&resetPasswordForm&&validToken">

                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-text"><i class="fa fa-key"></i></div>
                    <input type="password" id="password" class="form-control"formControlName="password" placeholder="{{'PASSWORD'|translate}}">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-text"><i class="fa fa-key"></i></div>
                    <input type="text" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="{{'CONFIRM'|translate}} {{'PASSWORD'|translate}}">
                  </div>
                </div>

                          <button (click)="resetPassword()"  class ="btn btn-lg btn-primary btn-block">{{'SEND'|translate}}</button>
                          <p *ngIf="passwordReset">password reset,u'll be redirected in a moment</p>
                          <p *ngIf="samePassword===false">passwords does'nt match</p>


                <i class="fa fa-check-circle" style="color:green" *ngIf ="resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.get('confirmPassword').touched"></i>
                <i class="fa fa-times-circle" style="color:firebrick" *ngIf ="resetPasswordForm.controls.confirmPassword.invalid"></i>

                match
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
