

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form"  [formGroup]="sendEmailForgottenPasswordForm" *ngIf="!token">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email" formControlName="email">
                  </div>
                </div>
                <div class="form-group">

                  <button (click)="getToken()" class ="btn btn-lg btn-primary btn-block">Send Email</button>
                  <p *ngIf="emailSent">Email sent</p>
                  <p *ngIf="emailSent===false">Email not sent</p>
                </div>

                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>

              <form [formGroup]="resetPasswordForm" *ngIf="token&&resetPasswordForm&&validToken">
                <label for="password">password</label><br> <input type="text" id="password" formControlName="password">
                <label for="confirmPassword">Confirm password</label><input type="text" id="confirmPassword" formControlName="confirmPassword"><br>
                <button (click)="resetPassword()">Envoyer</button>
                <p *ngIf="passwordReset">password reset,u'll be redirected in a moment</p>
                <p *ngIf="samePassword===false">passwords does'nt match</p>
                <p *ngIf="passwordReset===false">password not reset</p>
              </form>
              <p *ngIf="formSubmitted"><img src="../../assets/gifs/loader.gif" alt=""></p>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
