<div class="container">


  <div class="card">

    <div class="card-header">
      <h4> Payment details</h4>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-7">

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                   (click)="editcheck(0)">
            <label class="form-check-label" for="inlineRadio1">En espéce</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                   (click)="editcheck(1)" [checked]="cheque">
            <label class="form-check-label" for="inlineRadio2">Par cheque</label>
          </div>
        </div>

      </div>


      <div class="row" *ngIf="cheque">
        <div class="col-7">
          <br><br>
          <div class="form-group row">
            <label for="input1" class="col-sm-2 col-form-label">Bank Account</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="input1" placeholder="Bank Account">
            </div>
          </div>
          <div class="form-group row">
            <label for="input2" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="input2" placeholder="Amount">
            </div>
          </div>
          <div class="form-group row">
            <label for="input3" class="col-sm-2 col-form-label">profil Of</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input3" placeholder="profilOf">
            </div>
          </div>

          <div class="form-group row">
            <label for="input4" class="col-sm-2 col-form-label">Check reference</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input4" placeholder="Check reference">
            </div>
          </div>

          <div class="form-group row">
            <label for="input5" class="col-sm-2 col-form-label">Check state</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input5" placeholder="Check state">
            </div>
          </div>


        </div>

      </div>


    </div>

    <div class="card-footer">

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <div class="card">

    <div class="card-header">
      <h4> Quotation details</h4>
    </div>
    <div class="card-body">

      quotation componet


    </div>

  </div>

</div>
