<app-loader *ngIf="loading"></app-loader><!-- Editable table -->
<span class="alert-success" *ngIf="new">{{'BILL_ADDED_SUCCESS'|translate}}</span>
<div class="card" *ngIf="true">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{'ADD_PRODUCTS'|translate|titlecase}}</h3>


  <ul class="list-group">
    <li class="list-group-item">  <h3>{{'BILL_ID'|translate|titlecase}} : </h3>  <h5>{{bill.billId}}</h5> </li>
    <li class="list-group-item">  <h3>{{'PROVIDER'|translate|titlecase}} : </h3> <h5>{{bill.provider}}</h5></li>
    <li class="list-group-item">  <h3>{{'DATE'|translate|titlecase}} : </h3> <h5>{{bill.date}}</h5></li>
  </ul>




  <div class="card-body">
    <div id="table" class="table-editable">
      <label for="taxType1" (click)="editTax(0)">HT</label><input checked type="radio" name="taxType" id="taxType1"(click)="editTax(0)">
      <label for="taxType2" (click)="editTax(1)">TTC</label><input type="radio" name="taxType" id="taxType2" (click)="editTax(1)">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="addProduct()">
        </a>
      </span>

      <form [formGroup]="productsForm">
        <div formArrayName="products" >

          <table class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
              <th class="text-center">{{'PRODUCT_ID'|translate|titlecase}}</th>
              <th class="text-center">{{'QUANTITY'|translate|titlecase}}</th>
              <th class="text-center" >{{'UNIT_PRICE'|translate|titlecase}} {{(taxType===0?'HT':'TTC')|translate}}</th>
              <th class="text-center">{{'DISCOUNT'|translate|titlecase}}</th>
              <th class="text-center">{{'UNIT_PRICE_AFTER_DISCOUNT'|translate|titlecase}} {{(taxType===0?'HT':'TTC')|translate}}</th>
              <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'HT'|translate}}</th>
              <th class="text-center"> {{'TVA'|translate|titlecase}} </th>
              <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TVA'|translate}}</th>
              <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TTC'|translate}}</th>
              <th> <i class="fa fa-plus"  (click)="addProduct()"></i></th>

            </tr>

            <tr *ngFor="let product  of products.controls; let i = index" [formGroupName]="i">


              <td>
                <input type="text" required formControlName="designation"
                       [class.alert-danger]="products.controls[i].controls.designation.invalid&&(products.controls[i].controls.designation.dirty||products.controls[i].controls.designation.touched)"
                       class="form-control col" placeholder="Désignation" aria-describedby="basic-addon2">
              </td>
              <td>
                <input type="number" required formControlName="quantity"
                       [class.alert-danger]="products.controls[i].controls.quantity.invalid&&(products.controls[i].controls.quantity.dirty||products.controls[i].controls.quantity.touched)"
                       class="form-control col" id="quantity" placeholder="Qté" (change)="calculatePrices(i)">
              </td>
              <td>
                <input type="number" required formControlName="unitPrice"
                       [class.alert-danger]="products.controls[i].controls.unitPrice.invalid&&(products.controls[i].controls.unitPrice.dirty||products.controls[i].controls.unitPrice.touched)"
                       class="form-control col" placeholder="Prix Unitaire" id="unitPrice" (change)="calculatePrices(i)">
              </td>
              <td>
                <div class="input-group col ">
                  <input type="number" required formControlName="discount"
                         [class.alert-danger]="products.controls[i].controls.discount.invalid&&(products.controls[i].controls.discount.dirty||products.controls[i].controls.discount.touched)"
                         class="form-control col" id="discount" placeholder="Réduction" (change)="calculatePrices(i)">
                  <span class="input-group-text" >%</span></div>
              </td>

              <td>
                <div class="input-group col ">
                  <input type="number" required formControlName="tva"
                         [class.alert-danger]="products.controls[i].controls.tva.invalid&&(products.controls[i].controls.tva.dirty||products.controls[i].controls.tva.touched)"
                         class="form-control col" id="tva" (change)="calculatePrices(i)" placeholder="TVA">


                  <div class="input-group-prepend">
                    <span class="input-group-text" >%</span>
                  </div>
                </div>
              </td>
              <td>
                <input type="number" required formControlName="unitPriceAfterDiscount" class="form-control col" id="unitPriceAfterDiscount" readonly [value]="calculateDiscount(i)">

              </td>
              <td>
                <input type="number" required formControlName="amountHT" class="form-control col" id="amountHT" readonly [value]="calculateHT(i)">

              </td>
              <td>
                <input type="number" required formControlName="amountTVA" class="form-control col" id="amountTVA" readonly [value]="calculateTVA(i)">

              </td>
              <td>
                <input type="number" required formControlName="amountTTC" class="form-control col" id="amountTTC" readonly [value]="calculateTTC(i)">

              </td>
              <td>
                <input  (click)="removeProduct(i)" class="form-control col" type="button" value="{{'DELETE'|translate|titlecase}}">
              </td>

            </tr>
            <tr>
              <td colspan="4"></td>


              <td>
                <p>{{'TOTAL'|translate|titlecase}} {{'HT'|translate}} : {{totalHT|number:'1.3'}}</p>

              </td>
              <td>
                <p>{{'TOTAL'|translate|titlecase}} {{'TVA'|translate}} : {{totalTVA|number:'1.3'}}</p>
              </td>
              <td>
                <p>{{'TAX_STAMP'|translate|titlecase}} : {{bill.taxStamp|number:'1.3'}}</p>
              </td>
              <td>
                <p>{{'TOTAL'|translate|titlecase}} {{'TTC'|translate}} : {{totalTTC|number:'1.3'}}</p>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary"
                        (click)="pushProducts()" [disabled]="!productsForm.valid">
                  {{'ADD_PRODUCTS'|translate|titlecase}}</button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/bill-detail',bill.billId]" >{{'ABORT'|translate|titlecase}}</button>
              </td>
            </tr>




          </table>
        </div>

      </form>

    </div>

  </div>

  <span class="table-add float-left mb-3 mr-2">
    <a class="text-danger" *ngIf="error&&!submitted">{{'ERROR_ADD_PRODUCTS'|translate}}</a>
  </span>
</div>
<!-- Editable table -->
