<!--
<p>
  <span *ngIf="currentUser" (click)="logout()">{{'LOGOUT'|translate}}</span>
  <span *ngIf="currentUser" routerLink="/users">{{'USERS'|translate}}</span>
  <span *ngIf="currentUser" routerLink="/bills">{{'BILLS'|translate}}</span>
  <span (click)="changeLang('en')">en</span>
  <span (click)="changeLang('fr')">fr</span>
  <span (click)="changeLang('de')">de</span>
</p>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Navbar content -->


  <a class="navbar-brand" href="#">CLS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bills">{{'BILLS'|translate}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users"> {{'USERS'|translate}}</a>
      </li>


    </ul>
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" (click)="logout()">{{'LOGOUT'|translate}}</a>
      </li>

      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{'LANGUAGE' | translate}}  </a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
          <a class="dropdown-item" href="#" (click)="preventDefault($event);changeLang('fr')"><span class="flag-icon flag-icon-fr" > </span>  Français</a>
          <a class="dropdown-item" href="#" (click)="preventDefault($event);changeLang('de')"><span class="flag-icon flag-icon-de" > </span>  Deutsch</a>
          <a class="dropdown-item" href="#" (click)="preventDefault($event);changeLang('en')"><span class="flag-icon flag-icon-us"  > </span>  English</a>
        </div>
      </li>
    </ul>



  </div>
</nav>
