<div class="animated fadeIn">
  <div class="card card-accent-info ">
    <div class="card-header">
      <h4 class="card-title">Nombre d'articles par catégories produits</h4>
    </div>
    <div class="card-body">
      <div [options]="options" class="demo-chart" echarts></div>
    </div>

  </div>


  <div class="card card-accent-info ">
    <div class="card-header">
      <h4 class="card-title">Montant total par catégories produits</h4>
    </div>
    <div class="card-body">
      <div [options]="options2" class="demo-chart" echarts></div>
    </div>

  </div>
</div>
