

                <app-loader *ngIf="loading"></app-loader>

                <button class="btn btn-outline-secondary" type="button"
                        [routerLink]="['/check-form']"> Add Check</button>

                <table class="table  table-bordered row-border table-hover" style="width:100%" >
                  <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Reference</th>
                    <th>Amount</th>
                    <th>Transaction date</th>
                    <th>Profil of</th>
                    <th>Operation</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let check of checks;let i = index;">
                    <td>{{check.id}}</td>
                    <td>{{check.reference}}</td>
                    <td>{{check.amount}}</td>
                    <td>{{check.transactionDate|date: 'dd/MM/yyyy'}}</td>
                    <td>{{check.profilOf}}</td>
                    <td>


                      <button class="btn btn-outline-secondary" type="button"
                              [routerLink]="['/check-form',check.id]">Edit check</button>


                    </td>
                  </tr>


                  </tbody>
                </table>



