<div>
  <div class="">
  <a routerLink="/add-bill" class="btn btn-secondary">Ajouter une facture</a>

  <div class="row mb-3">
    <div class="col">Réference Facture</div>
    <div class="col">Fournisseur</div>
    <div class="col">Date</div>
    <div class="col">Total HT</div>
    <div class="col">Total TVA</div>
    <div class="col">Timbre Fiscal</div>
    <div class="col">Total TTC</div>
    <div class="col">Méthode de paiement</div>
    <div class="col">Si chèque, réference chèque</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
  <app-bill [bill]="bill" *ngFor="let bill of bills">
  </app-bill>

</div>
