<body>





<div class="container">
  <section id="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login Form</h1>
      <div>

        <input type="text" placeholder="Username" formControlName="usernameOrEmail"  id="username" [ngClass]="{ 'is-invalid': submitted && f.usernameOrEmail.errors }" />
        <div *ngIf="submitted && f.usernameOrEmail.errors" >
          <div *ngIf="f.usernameOrEmail.errors.required">Username is required</div>
        </div>

      </div>
      <div>

        <input type="password"  placeholder="Password" formControlName="password" id="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" >
          <div *ngIf="f.password.errors.required">Password is required</div>

        </div>
      </div>
      <div>
        <input type="submit" value="Log in" [disabled]="!loginForm.valid" />
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <a routerLink="/reset-password">Reset Password</a>

        <a href="#">Register</a>
      </div>
    </form><!-- form -->
    <div class="button">

    </div><!-- button -->
  </section><!-- content -->
</div><!-- container -->
</body>

