<app-loader *ngIf="loading"></app-loader>
<ng-container *ngIf="billForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
        <div class="wrapper wrapper--w680">
          <div class="card card-4">
            <div class="card-body">
              <h2 class="title" *ngIf="!bill">{{'ADD_BILL'|translate}}</h2>
              <h2 class="title" *ngIf="bill">{{'EDIT_BILL'|translate}}</h2>
              <form [formGroup]="billForm">
                <div class="row row-space">
                  <div class="col-md-5">
                    <div class="input-group">
                      <label class="label" for="provider">{{'PROVIDER'|translate}}</label>

                      <input class="input--style-4" type="text" formControlName="provider" id="provider"/>
                      <i class="fa fa-check-circle" style="color:green;" *ngIf="billForm.controls.provider.valid " ></i>
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="billForm.controls.provider.invalid"></i>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="input-group">
                      <label class="label">{{'PAYMENT_METHOD'|translate}}</label>
                      <div class="p-t-10">
                        <label class="radio-container m-r-45" for="paymentMethod1">{{'CASH'|translate}}
                          <input type="radio" formControlName="checkPayment" value="0" id="paymentMethod1">


                          <span class="checkmark"></span>
                        </label>
                        <label class="radio-container" for="paymentMethod2">{{'CHECK'|translate}}
                          <input type="radio" formControlName="checkPayment" value="1" id="paymentMethod2">
                          <span class="checkmark"></span>
                        </label>
                        <br>
                        <i class="fa fa-check-circle" style="color:green;" *ngIf="billForm.controls.checkPayment.valid " ></i>
                        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="billForm.controls.checkPayment.invalid"></i>

                      </div>

                    </div>
                  </div>

                </div>
                <div class="row row-space">

                  <div class="col-md-5">
                    <div class="input-group">
                      <label class="label" for="taxStamp">{{'TAX_STAMP'|translate}}</label>
                      <input class="input--style-4" type="number" formControlName="taxStamp" id="taxStamp"/>
                      <i class="fa fa-check-circle" style="color:green;" *ngIf="billForm.controls.taxStamp.valid " ></i>
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="billForm.controls.taxStamp.invalid"></i>

                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="col-6">
                    <div class="input-group">
                      <label class="label" for="checkReference">{{'CHECK_REFERENCE'|translate}}</label>
                      <input class="input--style-4" type="text" formControlName="checkReference"
                             id="checkReference" [disableControl]="editCheckPayment()">

                    </div>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-md-5">
                    <div class="input-group">
                      <div class="input-group-icon">
                        <label class="label" for="date">{{'DATE'|translate}}</label>
                        <input class="input--style-4 js-datepicker" type="date" formControlName="date" id="date">
                        <i class="fa fa-check-circle" style="color:green;" *ngIf="billForm.controls.date.valid " ></i>
                        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="billForm.controls.date.invalid"></i>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="p-t-15" *ngIf="!bill">
                  <button class="btn btn--radius-2 btn--blue" type="submit" (click)="onAddBillClick()"
                          [disabled]="!billForm.valid">{{'ADD_BILL'|translate}}</button>
                </div>
                <div class="p-t-15" *ngIf="bill">
                  <button class="btn btn--radius-2 btn--blue" type="submit" (click)="onEditBillClick()"
                          [disabled]="!billForm.valid">{{'EDIT_BILL'|translate}}</button>
                </div>
                <div class="p-t-15">
                  <button class="btn btn--radius-2 btn--blue"
                          routerLink="/bills">{{'ABORT'|translate|titlecase}}</button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
        <div class="wrapper wrapper--w680">
          <div class="card card-4">
            <div class="card-body">

              <input id="test" multiple="true" name="files" type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div id="newdiv">
  Click on this to see a dialogue box.
</div>
