/* You can add global styles to this file, and also import other style files */


.padding-top-down{
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
}

.pointer{
  cursor: pointer;
}

a {
  cursor: pointer;

}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}
