<div *ngIf="bill">
    <div>
    <p>Réference facture : <b>{{bill.id}}</b></p>
    <p>Fournisseur : {{bill.provider}}</p>
    <p>Date: : {{bill.date}}</p>

  </div>
  <table>
    <tr>
      <td>Désignation</td>
      <td>Qté</td>
      <td>Prix Unitaire</td>
      <td>Remise</td>
      <td>Prix unitaire après remise</td>
      <td>Montant HT</td>
      <td>TVA</td>
      <td>Montant TVA</td>
      <td>Montant TTC</td>
      <td></td>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.designation}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.unitPrice}}</td>
      <td>{{product.discount}}</td>
      <td>{{product.unitPriceAfterDiscount}}</td>
      <td>{{product.amountHT}}</td>
      <td>{{product.amountTVA}}</td>
      <td>{{product.amountTVA}}</td>
      <td>{{product.amountTTC}}</td>
      <td><a [routerLink]="['/edit-product/',product.id]">Modifier</a></td>
      <td (click)="deleteProduct(product.id)">Supprimer</td>
    </tr>
  </table>
  <td ><a [routerLink]="['/add-products',bill.id]">Ajouter un produit</a></td>


  <div>
    <p>Montant HT : {{bill.totalHT}}</p>
    <p>Montant TVA : {{bill.totalTVA}}</p>
    <p>Timbre fiscal : {{bill.taxStamp}}</p>
    <p>Montant TTC : {{bill.totalTTC}}</p>
  </div>

  <a routerLink="/bills">Retour</a>
</div>
