<div *ngIf="bill">
  <div>
    <p>Réference facture : <b>{{bill.billId}}</b></p>
    <p>Fournisseur : {{bill.provider}}</p>
    <p>Date: : {{bill.date}}</p>

  </div>
<div class="">
    <div class="row">
      <div class="col">Désignation</div>
      <div class="col">Qté</div>
      <div class="col">Prix Unitaire</div>
      <div class="col">Remise</div>
      <div class="col">Prix unitaire après remise</div>
      <div class="col">Montant HT</div>
      <div class="col">TVA</div>
      <div class="col">Montant TVA</div>
      <div class="col">Montant TTC</div>
      <div class="col"></div>
    </div>
      <app-product-details [product]="product" *ngFor="let product of products" (productChange)="productChange($event)"></app-product-details>


</div>


  <div class="col-3 offset-9">
    <p>Montant HT : {{bill.totalHT|number:'.3'}}</p>
    <p>Montant TVA : {{bill.totalTVA|number:'.3'}}</p>
    <p>Timbre fiscal : {{bill.taxStamp|number:'.3'}}</p>
    <p>Montant TTC : {{bill.totalTTC+bill.taxStamp|number:'.3'}}</p>
  </div>
<div>
  <div class="mb-1">
  <button class="btn btn-secondary" [routerLink]="['/add-products',bill.billId]">Ajouter un produit</button>
  </div>
  <div>
  <button class="btn btn-secondary" routerLink="/bills">Retour</button>
  </div>
</div>
</div>
