<app-loader *ngIf="loading"></app-loader>
<div *ngIf="bill">

  <!-- Editable table -->
  <div class="card" >
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{'BILL_DETAILS'|translate}}</h3>


    <ul class="list-group">
      <li class="list-group-item">  <h3>{{'BILL_ID'|translate|titlecase }} : </h3>  <h5>{{bill.billId}}</h5> </li>
      <li class="list-group-item">  <h3>{{'PROVIDER'|translate|titlecase}} : </h3> <h5>{{bill.provider}}</h5></li>
      <li class="list-group-item">  <h3>{{'DATE'|translate|titlecase}} : </h3> <h5>{{bill.date|date: 'dd/MM/yyyy'}}</h5></li>
    </ul>




    <div class="card-body">
      <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" >
        </a>
      </span>



        <table class="table table-bordered table-responsive-md table-striped text-center">


          <tr>
            <th class="text-center">{{'PRODUCT_ID'|translate|titlecase}}</th>
            <th class="text-center">{{'QUANTITY'|translate|titlecase}}</th>
            <th class="text-center" >{{'UNIT_PRICE'|translate|titlecase}}</th>
            <th class="text-center">{{'DISCOUNT'|translate|titlecase}}</th>
            <th class="text-center">{{'UNIT_PRICE_AFTER_DISCOUNT'|translate|titlecase}}</th>
            <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'HT'|translate}}</th>
            <th class="text-center"> {{'TVA'|translate}} </th>
            <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TVA'|translate}}</th>
            <th class="text-center">{{'AMOUNT'|translate|titlecase}} {{'TTC'|translate}}</th>

          </tr>

          <tr *ngFor="let product  of products; let i = index">


            <td>
              <p>{{product.designation}}</p>
            </td>
            <td>
              <p>{{product.quantity}}</p>
            </td>
            <td>
            <p>{{product.unitPrice|number:'.3'}} TND</p>
            </td>
            <td>
                <p>{{product.discount|number:'.1'}} %</p>

            </td>

            <td>
              <p>{{product.unitPriceAfterDiscount|number:'.3'}} TND</p>
            </td>

            <td>
              {{product.amountHT|number:'.3'}} TND
            </td>
            <td>

                <p>{{product.tva|number:'.1'}} % </p>

            </td>
            <td>
              {{product.amountTVA|number:'.3'}} TND
            </td>
            <td>
              {{product.amountTTC|number:'.3'}} TND
            </td>

            <td><button type="button" class="btn btn-outline-danger" (click)="deleteProduct(product.productId)">
              {{'DELETE'|translate|titlecase}}</button></td>


          </tr>

          <tr>
            <td colspan="5"></td>

            <td>
              <p>{{'TOTAL_HT'|translate|titlecase}} : {{bill.totalHT|number:'1.3'}}</p>

            </td>
            <td>
              <p>{{'TOTAL_TVA'|translate|titlecase}} : {{bill.totalTVA|number:'1.3'}}</p>
            </td>
            <td>
              <p>{{'TAX_STAMP'|translate|titlecase}} : {{bill.taxStamp|number:'1.3'}}</p>
            </td>
            <td>
              <p>{{'TOTAL_TTC'|translate|titlecase}} : {{bill.totalTTC+bill.taxStamp|number:'1.3'}}</p>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/add-products',bill.billId]" >{{'ADD_PRODUCTS'|translate|titlecase}}</button>
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['bills']" >{{'BACK'|translate|titlecase}}</button>
            </td>

          </tr>




        </table>

      </div>

    </div>
  </div>
  <!-- Editable table -->


</div>
