<div class="row mb-3 border-top">

    <div class="col">{{bill.billId}}</div>
    <div class="col">{{bill.provider}}</div>
    <div class="col">{{bill.date|date: 'dd/MM/yyyy'}}</div>
    <div class="col">{{bill.totalHT|number:'.3'}} TND</div>
    <div class="col">{{bill.totalTVA|number:'.3'}} TND</div>
    <div class="col">{{bill.taxStamp|number:'.3'}} TND</div>
    <div class="col">{{bill.totalTTC+bill.taxStamp|number:'.3'}} TND</div>
    <div class="col">{{bill.checkPayment?'Chèque':'Espèce'}}</div>
    <div class="col">{{bill.checkPayment?bill.checkReference:''}}</div>
    <div class="col" ><a [routerLink]="['/bill-detail',bill.billId]">Détails</a></div>
    <div class="col" ><a [routerLink]="['/bill-form',bill.billId]"  >Modifier</a></div>
    <div class="col" (click)="deleteBill(bill.billId)"><button class="btn btn-outline-danger" type="button">Supprimer</button></div>

</div>
